<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<div class="site">
			{% include "components/site-header.njk" %}

			<main class="main-content">
				{{ content | safe }}
			</main>

			{% include "components/footer.njk" %}
		</div>
	</body>

</html>
