---
layout: layouts/base.njk
section: home
---

{% set featuredEvent = collections.featuredEvent[0] %}
{% set featuredRelease = collections.featuredRelease[0] %}

<div class="home-page">
  {% if featuredEvent %}
    <div class="hero-bleed">
      {% set event = featuredEvent %}
      {% include "components/hero-event.njk" %}
    </div>
  {% endif %}

  <div class="content-wrap">
    {% if featuredRelease %}
      <section class="home-release">
        {% set release = featuredRelease %}
        {% include "components/hero-release.njk" %}
      </section>
    {% endif %}

    {% if content %}
      <div class="home-intro prose">
        {{ content | safe }}
      </div>
    {% endif %}
  </div>
</div>
